.registr {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
}

.registr.active {
  opacity: 1;
  pointer-events: all;
}

.registr__content {
  padding: 0px;
  border-radius: 5px;
  background-color: white;
  /* height: 400px; */
  width: 35vw;
}

.header {
  display: flex;
  background-color: #05938B;
  justify-content: space-between;
  font-size: 12px;
  color: white;
  padding: 10px 30px;
}

h1 {
  font-weight: normal;
  margin: 0;
}

.image {
  width:20px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.input-1, .input-2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
}

input {
  height: 40px;
  font-size: 18px;
}

input:focus-visible {
  border: #05938B;
}

.registr-btn {
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  background-color: #05938B;
  color: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  width: 400px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
}

/* Стили для заголовков
h5, p {
  margin: 0 0 10px;
  font-weight: normal;
}

h5 {
  font-size: 1.5rem;
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: center;
  color: #666;
} */

.error-message {
  color: red;
  text-align: center;
}

.success-message {
  color: green;
  text-align: center;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
  .card-container {
    width: 90%;
    padding: 16px;
  }

  h5 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem;
  }

  .MuiTextField-root {
    margin-bottom: 10px;
  }

  .MuiButton-root {
    margin-top: 16px;
  }
}